<%- include('./partials/header') %>
<header class="header">
  <div class="overlay"></div>
  <div class="container">
    <div class="description" class="text-center">
      <h1>    Welcome to My Real Estate App
       <p>    More features to come!
   </p>   
   <form action="/homes" method="POST">
    <button class="btn btn-outline-secondary btn-lg">See more</button>   </h1>  
  </form>
   </div>
  </div>
</header>
  </body>
</html>
