<%- include('../partials/header') %>
<div class="text-center">
<h1> Add Realtor</h1>
<form id="new-realtor-form" action="/realtors" method="POST">
    <label>Name</label>
    <input type="text" name="name"><br>
    <label>Phone Number</label>
    <input type="number" name="phoneNumber"><br>
    <label>Email</label>
    <input type="text" name="email"><br>
    <label>Company</label>
    <input type="text" name="company"><br>
    <button class="btn btn-primary" type="submit">Save Realtor
    </button>
</form>
</div>
<%- include('../partials/footer') %>